Brlapi==0.8.5 ; sha256=HASH_UNKNOWN
Brotli==1.1.0 ; sha256=HASH_UNKNOWN
Jinja2==3.1.6 ; sha256=HASH_UNKNOWN
Mako==1.3.2.dev0 ; sha256=HASH_UNKNOWN
Markdown==3.5.2 ; sha256=HASH_UNKNOWN
MarkupSafe==2.1.5 ; sha256=HASH_UNKNOWN
PAM==0.4.2 ; sha256=HASH_UNKNOWN
PyGObject==3.48.2 ; sha256=HASH_UNKNOWN
PyICU==2.12 ; sha256=HASH_UNKNOWN
PyJWT==2.7.0 ; sha256=HASH_UNKNOWN
PyNaCl==1.5.0 ; sha256=HASH_UNKNOWN
PyYAML==6.0.1 ; sha256=HASH_UNKNOWN
Pygments==2.17.2 ; sha256=HASH_UNKNOWN
Unidecode==1.3.8 ; sha256=HASH_UNKNOWN
altair==6.2.2 ; sha256=HASH_UNKNOWN
anyio==4.14.2 ; sha256=HASH_UNKNOWN
attrs==23.2.0 ; sha256=HASH_UNKNOWN
beautifulsoup4==4.12.3 ; sha256=HASH_UNKNOWN
blinker==1.7.0 ; sha256=HASH_UNKNOWN
catfish==4.16.4 ; sha256=HASH_UNKNOWN
ccsm==0.9.14.2 ; sha256=HASH_UNKNOWN
certifi==2023.11.17 ; sha256=HASH_UNKNOWN
chardet==5.2.0 ; sha256=HASH_UNKNOWN
click==8.1.6 ; sha256=HASH_UNKNOWN
colorama==0.4.6 ; sha256=HASH_UNKNOWN
command-not-found==0.3 ; sha256=HASH_UNKNOWN
compizconfig-python==0.9.14.2 ; sha256=HASH_UNKNOWN
configobj==5.0.8 ; sha256=HASH_UNKNOWN
cryptography==41.0.7 ; sha256=HASH_UNKNOWN
cryptography==41.0.7 ; sha256=HASH_UNKNOWN
cupshelpers==1.0 ; sha256=HASH_UNKNOWN
dbus-python==1.3.2 ; sha256=HASH_UNKNOWN
defer==1.0.6 ; sha256=HASH_UNKNOWN
deprecation==2.0.7 ; sha256=HASH_UNKNOWN
dill==0.3.8 ; sha256=HASH_UNKNOWN
distro==1.9.0 ; sha256=HASH_UNKNOWN
docker-compose==1.29.2 ; sha256=HASH_UNKNOWN
docker==5.0.3 ; sha256=HASH_UNKNOWN
dockerpty==0.4.1 ; sha256=HASH_UNKNOWN
docopt==0.6.2 ; sha256=HASH_UNKNOWN
eyed3==0.9.7 ; sha256=HASH_UNKNOWN
filelock==3.13.1 ; sha256=HASH_UNKNOWN
filetype==1.2.0 ; sha256=HASH_UNKNOWN
h11==0.16.0 ; sha256=HASH_UNKNOWN
html2text==2024.2.26 ; sha256=HASH_UNKNOWN
httplib2==0.20.4 ; sha256=HASH_UNKNOWN
httptools==0.8.0 ; sha256=HASH_UNKNOWN
idna==3.6 ; sha256=HASH_UNKNOWN
ifaddr==0.2.0 ; sha256=HASH_UNKNOWN
itsdangerous==2.2.0 ; sha256=HASH_UNKNOWN
jsonpointer==2.0 ; sha256=HASH_UNKNOWN
jsonschema==4.10.3 ; sha256=HASH_UNKNOWN
launchpadlib==1.11.0 ; sha256=HASH_UNKNOWN
lazr.restfulclient==0.14.6 ; sha256=HASH_UNKNOWN
lazr.uri==1.0.6 ; sha256=HASH_UNKNOWN
libevdev==0.5 ; sha256=HASH_UNKNOWN
louis==3.29.0 ; sha256=HASH_UNKNOWN
lxml==5.2.1 ; sha256=HASH_UNKNOWN
markdown-it-py==3.0.0 ; sha256=HASH_UNKNOWN
mdurl==0.1.2 ; sha256=HASH_UNKNOWN
menulibre==2.4.0 ; sha256=HASH_UNKNOWN
mugshot==0.4.3 ; sha256=HASH_UNKNOWN
multiprocess==0.70.16 ; sha256=HASH_UNKNOWN
mutagen==1.46.0 ; sha256=HASH_UNKNOWN
narwhals==2.25.0 ; sha256=HASH_UNKNOWN
netaddr==0.8.0 ; sha256=HASH_UNKNOWN
netifaces==0.11.0 ; sha256=HASH_UNKNOWN
numpy==2.5.2 ; sha256=HASH_UNKNOWN
oauthlib==3.2.2 ; sha256=HASH_UNKNOWN
onboard==1.4.1 ; sha256=HASH_UNKNOWN
packaging==24.0 ; sha256=HASH_UNKNOWN
pandas==3.0.5 ; sha256=HASH_UNKNOWN
pexpect==4.9.0 ; sha256=HASH_UNKNOWN
pillow==10.2.0 ; sha256=HASH_UNKNOWN
pip==24.0 ; sha256=HASH_UNKNOWN
protobuf==7.36.0 ; sha256=HASH_UNKNOWN
psutil==5.9.8 ; sha256=HASH_UNKNOWN
ptyprocess==0.7.0 ; sha256=HASH_UNKNOWN
pyarrow==25.0.1 ; sha256=HASH_UNKNOWN
pycairo==1.25.1 ; sha256=HASH_UNKNOWN
pycryptodomex==3.20.0 ; sha256=HASH_UNKNOWN
pycups==2.0.1 ; sha256=HASH_UNKNOWN
pycurl==7.45.3 ; sha256=HASH_UNKNOWN
pydeck==0.9.3 ; sha256=HASH_UNKNOWN
pyelftools==0.30 ; sha256=HASH_UNKNOWN
pyparsing==3.1.1 ; sha256=HASH_UNKNOWN
pyparted==3.12.0 ; sha256=HASH_UNKNOWN
pypng==0.20231004.0 ; sha256=HASH_UNKNOWN
pyrsistent==0.20.0 ; sha256=HASH_UNKNOWN
python-apt==2.7.7+ubuntu5.1 ; sha256=HASH_UNKNOWN
python-dateutil==2.9.0.post0 ; sha256=HASH_UNKNOWN
python-debian==0.1.49+ubuntu2 ; sha256=HASH_UNKNOWN
python-dotenv==1.0.1 ; sha256=HASH_UNKNOWN
python-gnupg==0.5.2 ; sha256=HASH_UNKNOWN
python-multipart==0.0.32 ; sha256=HASH_UNKNOWN
pyudev==0.24.0 ; sha256=HASH_UNKNOWN
pyxdg==0.28 ; sha256=HASH_UNKNOWN
qrcode==7.4.2 ; sha256=HASH_UNKNOWN
repolib==2.2.1 ; sha256=HASH_UNKNOWN
requests-file==1.5.1 ; sha256=HASH_UNKNOWN
requests==2.31.0 ; sha256=HASH_UNKNOWN
rich==13.7.1 ; sha256=HASH_UNKNOWN
setproctitle==1.3.3 ; sha256=HASH_UNKNOWN
setuptools==68.1.2 ; sha256=HASH_UNKNOWN
six==1.16.0 ; sha256=HASH_UNKNOWN
soupsieve==2.5 ; sha256=HASH_UNKNOWN
starlette==1.6.0 ; sha256=HASH_UNKNOWN
streamlit==1.62.0 ; sha256=HASH_UNKNOWN
systemd-python==235 ; sha256=HASH_UNKNOWN
texttable==1.6.7 ; sha256=HASH_UNKNOWN
tldextract==3.1.2 ; sha256=HASH_UNKNOWN
toml==0.10.2 ; sha256=HASH_UNKNOWN
typing_extensions==4.10.0 ; sha256=HASH_UNKNOWN
typing_extensions==4.16.0 ; sha256=HASH_UNKNOWN
ubuntu-drivers-common==0.0.0 ; sha256=HASH_UNKNOWN
ufw==0.36.2 ; sha256=HASH_UNKNOWN
urllib3==2.0.7 ; sha256=HASH_UNKNOWN
uvicorn==0.52.4 ; sha256=HASH_UNKNOWN
wadllib==1.3.6 ; sha256=HASH_UNKNOWN
watchdog==6.0.0 ; sha256=HASH_UNKNOWN
websocket-client==1.7.0 ; sha256=HASH_UNKNOWN
websockets==10.4 ; sha256=HASH_UNKNOWN
websockets==16.1.1 ; sha256=HASH_UNKNOWN
wheel==0.42.0 ; sha256=HASH_UNKNOWN
xdg==5 ; sha256=HASH_UNKNOWN
xkit==0.0.0 ; sha256=HASH_UNKNOWN
yt-dlp==2024.4.9 ; sha256=HASH_UNKNOWN
